.invoice {

  &__content {
    @extend .calculator__content;
    margin-top: 3rem;
  }

  &__fields {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3rem;

    dt,
    dd {
      margin-bottom: .5rem;
      margin-left: 0;
      text-align: left;
    }

    & > dt {
      width: 40%;
    }

    & > dd {
      width: 60%;
    }

    label + label {
      margin-left: 2rem;
    }

    input[type="text"] {
      width: 100%;
    }
  }

  &__errors {
    color: red;
    padding-left: 1rem;
  }

}

#ikbengeenbot {
  @include hide-text;
}